@model FoRent.Models.Image

<br />
<br />
<br />
<h1><b>עריכת דירה</b></h1>
<br />
<h4>תמונות</h4>
<br />
<hr />
<br />
<br />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <img src="@Html.DisplayFor(modelItem => modelItem.BedRoom) " style="width:100%" />
            <input type="file" name="file1" />


            <br />
            <img src="@Html.DisplayFor(modelItem => modelItem.DiningRoom)"style="width:100%" />
            <input type="file" name="file2" />


            <br />
            <img src="@Html.DisplayFor(modelItem => modelItem.Ketchen)"style="width:100%" />
            <input type="file" name="file3" />


            <br />
            <img src="@Html.DisplayFor(modelItem => modelItem.LivingRoom)"style="width:100%" />
            <input type="file" name="file4" />

            <br />
            <div class="form-group">
                <input type="submit" value="שמור" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>



