@model IEnumerable<FoRent.Models.Image>





<br />
<br />
<br />
<h1><b>יצירת דירה</b></h1>
<br />
<h4>הוספת תמונות</h4>
<br />
<hr />
<br />
<br />
<form asp-controller="Images" asp-action="Upload_Image" method="post"
      enctype="multipart/form-data">

    <input type="file" name="file1"  />


    <br />
    <input type="file" name="file2"  />


    <br />
    <input type="file" name="file3"  />


    <br />
    <input type="file" name="file4"  />

    <br />
    <button type="submit">שמור </button>
</form>

