@model IEnumerable<FoRent.Models.Image>






<h3>ראשית עליך להעלות 4 תמונות של הדירה שלך</h3>
<form asp-controller="Images" asp-action="Upload_Image" method="post"
      enctype="multipart/form-data">

    <input type="file" name="file1" value="תמונה 1"/>


    <br />
    <input type="file" name="file2" value="תמונה 2"/>


    <br />
    <input type="file" name="file3" value="תמונה 3"/>


    <br />
    <input type="file" name="file4" value="תמונה 4"/>

    <br />
    <button type="submit">שמור </button>
</form>

