@model FoRent.Models.ApartmentAvailability

@{
    ViewData["Title"] = "Create";
}
<br />
<br />
<br />
<h1><b>יצירת דירה</b></h1>
<br />
<h4>עדכון תאריכים תפוסים</h4>
<br />
<hr />
<br />
<br />




<div class="row">
    <h4>ניתן להזין תאריכם תפוסים ל-3 חודשים הקרובים</h4>
    <div class="col-md-4">

        <form asp-action="Create" >

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">

                <input name="date" type="date" data-date-format="DD MM YYYY" />
            </div>
            @ViewBag.exist

            <div class="form-group">
                <input id="btnSave" type="submit" value="סמן תאריך כתפוס" class="btn btn-default" />
            </div>
        </form>
        <div class="form-group">

            <form action="~/Apartments/Success">
                <input type="submit" value="סיים" style="min-width:200px" />
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script type="text/javascript">

        $(function () {  
             $("#btnSave").click(function () {  
            //alert("");  
                 var form = $(this).parent("form");  
                 $.ajax({  
                     type: "POST",  
                     url: form.attr("asp-action"),
                     data: form.serialize,
                     dataType: "application/json; charset=utf-8",
                     contentType: date,
                     success: function (response) {
                         if (response.success) 
                             alert(response.responseText);
                        
                         //swal("התאריך נקלט במערכת", "באפשרותך להזין תאריכים נוספים", "success");
                     }, 
                          
            });  
            return false;  
        });  
    });
    </script>
}
