@model FoRent.Models.ApartmentAvailability

@{
    ViewData["Title"] = "Create";
}

<h1>עדכון תאריכים תפוסים</h1>

<h4>ניתן להזין תאריכם תפוסים ל-3 חודשים הקרובים</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input name="date" type="date" data-date-format="DD MM YYYY"  />
            </div>
            <p>@ViewBag.exist</p>

            <div class="form-group">
                <input type="submit" value="@ViewBag.anotherDate" class="btn btn-default" />
            </div>
        </form>
        <div class="form-group">
            @*<button type="button" class="btn btn-light">
                <a asp-controller="Apartments" asp-action="Success">סיים</a>
            </button>*@
            <form action="~/Apartments/Success">
                <input type="submit" value="הכנס את מקום האירוח שלך" />
            </form>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>