@model FoRent.Models.ApartmentAvailability

<br />
<br />
<br />
<h1><b>עריכת דירה</b></h1>
<br />
<h4>זמינות </h4>
<br />
<hr />
<br />
<br />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ApartmentId" />
            <input type="hidden" asp-for="AvailabilityId" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>


