@{

    Layout = null;
}
@using Microsoft.AspNetCore.Http;

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Success</title>
</head>
<body>
    @if (User.Identity.IsAuthenticated) { 
        <h3>Success Page</h3>
    <span>היי</span>   @Context.Session.GetString("username") 
    <br>
    <a asp-controller="account" asp-action="logout">יציאה מהחשבון</a>
    }
</body>
</html>