@model FoRent.Models.Order

@{
    ViewData["Title"] = "הזמנה";
}

<h1>הזמנה</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ApartmentId" class="control-label"></label>
                <input asp-for="ApartmentId" class="form-control" />
                <span asp-validation-for="ApartmentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuantityAdult" class="control-label"></label>
                <input asp-for="QuantityAdult" class="form-control" />
                <span asp-validation-for="QuantityAdult" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuantityChild" class="control-label"></label>
                <input asp-for="QuantityChild" class="form-control" />
                <span asp-validation-for="QuantityChild" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CheckIn" class="control-label"></label>
                <input asp-for="CheckIn" class="form-control" />
                <span asp-validation-for="CheckIn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CheckOut" class="control-label"></label>
                <input asp-for="CheckOut" class="form-control" />
                <span asp-validation-for="CheckOut" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="המשך" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
