@model FoRent.Models.Apartment


<style>
    .container {
        background-image: url("~/images/unnamed-2-1 (1).jpg");
        position: center;
    }

    .center {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 18px;
    }

    img {
        margin: 0;
        width: 100%;
        position: center;
        height: auto;
        opacity: 0.3;
    }
</style>

<body>
    <div class="container">
        <img src="~/images/background.jpg" alt="Cinque Terre" width="1000" height="300">
        <div class="center">Centered</div>
    </div>

</body>

<h1><b>יצירת דירה</b></h1>
<br />
<h4>מחירים</h4>
<div class="row toRight">
    <div class="col-md-4">

        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger-"></div>
            <div>

                <div class="form-group">
                    <label asp-for="PriceAdult" class="control-label"></label>
                    <input asp-for="PriceAdult" class="form-control" />
                    <span asp-validation-for="PriceAdult" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="PriceChild" class="control-label"></label>
                    <input asp-for="PriceChild" class="form-control" />
                    <span asp-validation-for="PriceChild" class="text-danger"></span>
                </div>
            </div>

            <br />
            <div class="form-group">
                <input type="submit" value="צור את הדירה שלך" class="btn btn-default" />
            </div>

        </form>

    </div>
</div>
