@model FoRent.Models.Apartment

<br />
<br />
<br />
<h1><b>יצירת דירה</b></h1>
<br />
<h4>מחירים</h4>
<br />
<hr />
<br />
<br />



<div class="row toRight">
    <div class="col-md-4">

        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger-"></div>
            <div>

                <div class="form-group">
                    <label asp-for="PriceAdult" class="control-label"></label>
                    <input asp-for="PriceAdult" class="form-control" />
                    <span asp-validation-for="PriceAdult" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="PriceChild" class="control-label"></label>
                    <input asp-for="PriceChild" class="form-control" />
                    <span asp-validation-for="PriceChild" class="text-danger"></span>
                </div>
            </div>

            <br />
            <div class="form-group">
                <input type="submit" value="צור את הדירה שלך" class="btn btn-default" />
            </div>

        </form>

    </div>
</div>



