@model FoRent.Models.Apartment

@{
    ViewData["Title"] = "Delete";
}
<br />
<br />
<br />
<h1><b>מחיקה</b></h1>
<br />
<h3>?אתה בטוח שאתה מעוניין למחוק את הדירה</h3>
<div>
    <br />
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PriceAdult)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PriceAdult)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PriceChild)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PriceChild)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="מחיקה" class="btn btn-default" /> |
       
    </form>
</div>
