<h2>הכנסת הדירה בוצעה בהצלחה</h2>
<button><a asp-controller="Apartments" asp-action="Home">חזרה לעמוד הבית</a></button>
<button><a asp-controller="Accounts" asp-action="Index">כניסה לחשבון שלך</a></button>