
<h1>!הכנסת הדירה בוצעה בהצלחה</h1>
<button type="button"><a asp-controller="Apartments" asp-action="Home">חזרה לעמוד הבית</a></button>
<button type="button"><a asp-controller="Account" asp-action="Index">כניסה לחשבון</a></button>

