<h2>הכנסת הדירה בוצעה בהצלחה</h2>
<button><a asp-controller="Apartments" asp-action="Details" asp-route-id=@TempData["ApartmentId"]>רוצה לראות איך נראה העמוד של הדירה שלך?</a></button><br />
<button><a asp-controller="Apartments" asp-action="Home">חזרה לעמוד הבית</a></button>
<button><a asp-controller="Accounts" asp-action="Index">כניסה לחשבון שלך</a></button>