@model FoRent.Models.Location

@{
    ViewData["Title"] = "Create";
}
@{
    Layout=null;
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <script src="https://code.jquery.com/jquery-1.12.1.min.js"></script>
    <script src="https://www.govmap.gov.il/govmap/api/govmap.api.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            govmap.createMap('map',
                {
                    token: '5a4b8472-b95b-4687-8179-0ccb621c7990',
                    layers: ["GASSTATIONS", "PARCEL_HOKS", "KSHTANN_ASSETS", "bus_stops", "PARCEL_ALL"],
                    showXY: true,
                    identifyOnClick: true,
                    isEmbeddedToggle: false,
                    background: "3",
                    layersMode: 1,
                    zoomButtons: false
                });
        });
        function showExample() {
            var params = {
                type: govmap.locateType.lotParcelToAddress,
                address: 'עין גדי 32, אילת'
            }
            govmap.searchAndLocate().then(function (response) {
                console.log(response)
            });
        }
    </script>
</head>
<body>
    <div id="map" style="width:600px;height:600px"></div>
    <button onClick="showExample()">Show Example</button>
</body>
</html>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
