@model FoRent.Models.Location

<br />
<br />
<br />
<h1><b>עריכת דירה</b></h1>
<br />
<h4>מיקום</h4>
<br />
<hr />
<br />
<br />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" id="address" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" id="city" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>

            <br />
            <div class="modal-footer">
                <button type="button" onclick="TestGovMapExpanded();" class="btn btn-default" value="GeocodeString">שמור מיקום</button>
            </div>



            <div id="CoordinatesDiv" class="alert alert-danger text-center lead" dir="ltr">
                <strong id="Coordinates"> </strong>

            </div>
            <div id="additionalDiv" class="alert alert-info">
                <p id="additional results" ,="" name="additional results" dir="rtl"></p>
            </div>

            <div class="form-group">
                <label asp-for="x" class="control-label" id="x1"></label>
                <input type="hidden" asp-for="x" class="form-control" id="x" />
                <span asp-validation-for="x" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="y" class="control-label" id="y1"></label>
                <input type="hidden" asp-for="y" class="form-control" id="y" />
                <span asp-validation-for="y" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="המשך" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="https://code.jquery.com/jquery-1.12.1.min.js"></script>
    <script src="https://www.govmap.gov.il/govmap/api/govmap.api.js"></script>
    <script src="~/js/location.js"></script>
    <link href="~/css/location.css" rel="stylesheet" />
}
