@model FoRent.Models.Reviews

@{
    ViewData["Title"] = "Create";
}
<h1>ביקורות</h1>

<div class="row">
    <div class="col-md-4">

        <form method="post" action="@Url.Action("Rating", "Reviews")">
            @*<form asp-action="Create" >  *@
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input name="apartmentId" value="4" hidden />
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <fieldset class="rating">
                    <input asp-for="Location" type="radio" id="star5" name="location" value="5" /><label class="full" for="star5" title="מצוין! - 5 כוכבים"></label>
                    <input asp-for="Location" type="radio" id="star4" name="location" value="4" /><label class="full" for="star4" title=" טוב - 4 כוכבים"></label>
                    <input asp-for="Location" type="radio" id="star3" name="location" value="3" /><label class="full" for="star3" title=" סביר - 3 כוכבים"></label>
                    <input asp-for="Location" type="radio" id="star2" name="location" value="2" /><label class="full" for="star2" title="גרוע - 2 כוכבים"></label>
                    <input asp-for="Location" type="radio" id="star1" name="location" value="1" /><label class="full" for="star1" title=" גרוע מאד - 1 כוכבים"></label>
                </fieldset>
            </div>


            <div class="form-group">
                <label asp-for="Cleanliness" class="control-label"></label>
                <fieldset class="rating">
                    <input asp-for="Cleanliness" type="radio" id="star5" name="cleanliness" value="5" /><label class="full" for="star5" title="מצוין! - 5 כוכבים"></label>
                    <input asp-for="Cleanliness" type="radio" id="star4" name="cleanliness" value="4" /><label class="full" for="star4" title=" טוב - 4 כוכבים"></label>
                    <input asp-for="Cleanliness" type="radio" id="star3" name="cleanliness" value="3" /><label class="full" for="star3" title=" סביר - 3 כוכבים"></label>
                    <input asp-for="Cleanliness" type="radio" id="star2" name="cleanliness" value="2" /><label class="full" for="star2" title="גרוע - 2 כוכבים"></label>
                    <input asp-for="Cleanliness" type="radio" id="star1" name="cleanliness" value="1" /><label class="full" for="star1" title=" גרוע מאד - 1 כוכבים"></label>
                </fieldset>
            </div>


            <div class="form-group">
                <label asp-for="Checkin" class="control-label"></label>
                <fieldset class="rating">
                    <input asp-for="Checkin" type="radio" id="star555" name="checkin" value="5" /><label class="full" for="star555" title="מצוין! - 5 כוכבים"></label>
                    <input asp-for="Checkin" type="radio" id="star444" name="checkin" value="4" /><label class="full" for="star444" title=" טוב - 4 כוכבים"></label>
                    <input asp-for="Checkin" type="radio" id="star333" name="checkin" value="3" /><label class="full" for="star333" title=" סביר - 3 כוכבים"></label>
                    <input asp-for="Checkin" type="radio" id="star222" name="checkin" value="2" /><label class="full" for="star222" title="גרוע - 2 כוכבים"></label>
                    <input asp-for="Checkin" type="radio" id="star111" name="checkin" value="1" /><label class="full" for="star111" title=" גרוע מאד - 1 כוכבים"></label>
                </fieldset>
            </div>


            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <fieldset class="rating">
                    <input asp-for="Price" type="radio" id="star5555" name="price" value="5" /><label class="full" for="star5555" title="מצוין! - 5 כוכבים"></label>
                    <input asp-for="Price" type="radio" id="star4444" name="price" value="4" /><label class="full" for="star4444" title=" טוב - 4 כוכבים"></label>
                    <input asp-for="Price" type="radio" id="star3333" name="price" value="3" /><label class="full" for="star3333" title=" סביר - 3 כוכבים"></label>
                    <input asp-for="Price" type="radio" id="star2222" name="price" value="2" /><label class="full" for="star2222" title="גרוע - 2 כוכבים"></label>
                    <input asp-for="Price" type="radio" id="star1111" name="price" value="1" /><label class="full" for="star1111" title=" גרוע מאד - 1 כוכבים"></label>
                </fieldset>
            </div>



            <button type="submit">שלח</button>
        </form>
    </div>
</div>

