
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Rating</title>
</head>
<body>
    <h1>תודה על המשוב!</h1>
</body>
</html>
